{% extends '@webshop/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <div>
            <label for="email">Id:</label>
            <label>{{ customer.getCustomerId }}</label>
        </div>
        <div>
            <label for="password">Email:</label>
            <label>{{ customer.getEmail }}</label>
        </div>
        <div>
            <label for="firstname">Firstname:</label>
            <label>{{ customer.getFirstname }}</label>
        </div>
        <div>
            <label for="lastname">Lastname:</label>
            <label>{{ customer.getLastname }}</label>
        </div>
        <div>
            <label for="newsletter">Newsletter:</label>
            {% if customer.getSubscriptionId %}
                <label>yes</label>
            {% else %}
                <label>no</label>
            {% endif %}

        </div>
    <div>
        <a href="{{ path('app_logout') }}">LogOut</a>
    </div>
{% endblock %}